@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  @apply bg-gray-50
}

.App > :not(.dummy-header,.header) {
  @apply h-screen
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
.btn-red {
  @apply bg-red-500 text-white
}
.btn-red:hover {
  @apply bg-red-700
}
.btn-green {
  @apply bg-emerald-800 text-white
}
.btn-green:hover {
  @apply bg-emerald-900
}

.form-container{
  @apply w-full min-h-screen flex
}

.form{
  @apply self-center mx-auto my-auto w-4/12 border-2 border-gray-50 rounded-lg  shadow-lg
}

.form-title{
  @apply my-4 text-4xl
}

.form-input{
  @apply my-2 text-base w-8/12 p-2 border-b-2 rounded
}

.form-submit-button{
  @apply mx-2 my-4 btn btn-blue w-4/12
}

.header {
  @apply block w-full h-10 top-0 left-0 flex flex-row justify-between bg-sky-900 border-b-2
}

.header-link {
  @apply py-2 pl-3 pr-4 text-gray-50 font-semibold
}

.header-link:hover {
  @apply text-blue-200
}

.table-container {
  @apply w-full overflow-x-auto
}

.table {
  @apply w-full mx-auto text-left text-gray-500
}

.table > thead{
  @apply text-gray-700 uppercase bg-gray-200
}

.table tr {
  @apply border-b
}

.table > tbody > tr:hover {
  @apply bg-gray-100
}

.table th, .table td {
  @apply px-6 py-3
}

.message-container-layer1 {
  @apply grid place-content-center
}

.message-container-layer2 {
  @apply text-center mx-20
}

.message-container-layer2 > * {
  @apply my-4
}

.message-container-title {
  @apply text-gray-400 font-bold text-8xl
}

.message-cotainer-description{
  @apply text-3xl font-bold text-gray-900 
}

.message-cotainer-sub-description{
  @apply text-gray-500 text-2xl
}